<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>DJL - Ace Login</title>
    @*引用基本样式表*@
</head>
<body>
    @RenderBody()
</body>
</html>
