
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Ace/_Layout.cshtml";
}

@section header{
    <link href="http://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.css" rel="stylesheet">
}

<div class="page-header">
    <h1>
        管理员
        <small>
            <i class="icon-double-angle-right"></i>
            一览
        </small>
    </h1>
</div>

@{ Html.RenderPartial("~/Views/Shared/Ace/_BtnSarchBar.cshtml"); }

<div class="page-body">
    <table data-toggle="table">
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Item Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Item 1</td>
                <td>$1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Item 2</td>
                <td>$2</td>
            </tr>
        </tbody>
    </table>
</div>

@section footer{
    <script src="http://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.js"></script>
}
