
@model List<SelectListItem>

@{
    foreach (var group in Model.GroupBy(x=>x.Group))
    {
        <tr>
            <td>
                @group.Key.Name
            </td>
            <td>
                <div class="btn-group">
                    @foreach (var item in group)
                    {
                        <label class="green">
                            <input type="checkbox" name="permissionIds" @(item.Selected ? Html.Raw("checked") : null) class="ace" value="@item.Value" />
                            <span class="lbl">@item.Text</span>
                        </label>
                    }
                </div>
            </td>
            <td class="center">
                <label class="green">
                    @{
                        if (group.All(x => x.Selected))
                        {
                            <input type="checkbox" checked class="check-all ace" />
                        }
                        else
                        {
                            <input type="checkbox" class="check-all ace" />
                        }
                    }
                    <span class="lbl"></span>
                </label>
            </td>
        </tr>
    }
}
<script type="text/javascript">
    $(function () {
        $('#modal-table .check-all').on('change', function () {
            var $this = $(this);
            if ($this.is(':checked')) {
                $this.closest('tr').find('input:checkbox').each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $this.closest('tr').find('input:checkbox').each(function () {
                    $(this).prop('checked', false);
                });
            }
        });

        $('#modal-table .btn-group input:checkbox').on('change', function () {
            var that = $(this);
            var checkAll = true;
            that.closest('td').find('input:checkbox').each(function () {
                if (!$(this).is(':checked')) {
                    checkAll = false;
                    return;
                }
            });
            var checkboxAll = that.closest('tr').find('td:last').find('input:checkbox');
            if (checkAll)
                checkboxAll.prop('checked', true);
            else
                checkboxAll.prop('checked', false);
        });
    });
</script>
