@{
    ViewBag.Title = "Index";
}

@section header{

}

<div class="page-header">
    <h1>
        角色清单
        <small>
            <i class="icon-double-angle-right"></i>
            一览
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-10">
            <div class="btn-group-sm">
                <input type="button" class="btn btn-primary btn-sm" value="添加" />
            </div>
        </div>
        <div class="col-xs-2">
            <input id="name" type="search" class="search-box" placeholder="角色名字..." />
            <input id="search" type="button" class="btn btn-sm btn-warning" value="搜索" />
        </div>

        <div class="table-responsive">
            <table id="role-table" data-name="role-table" class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th data-searchable="false" data-orderable="false" class="center">
                            <label>
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th data-name="id" data-searchable="false" data-data="id" data-visible="false" data-orderable="false">Id</th>
                        <th data-name="name" data-searchable="false" data-data="name">角色名</th>
                        <th data-name="isActive" data-searchable="false" data-data="isActive" class="hidden-480">激活</th>
                        <th data-name="updatedTime" data-searchable="false" data-data="updatedTime">
                            <i class="icon-time bigger-110 hidden-480"></i>
                            更新时间
                        </th>
                        <th data-name="updatedBy" data-searchable="false" data-data="updatedBy">
                            <i class="icon-edit bigger-110 hidden-480"></i>
                            更新人
                        </th>
                        <th data-name="createdTime" data-searchable="false" data-data="createdTime">
                            <i class="icon-time bigger-110 hidden-480"></i>
                            创建时间
                        </th>
                        <th data-name="createdBy" data-searchable="false" data-data="createdBy">
                            <i class="icon-info bigger-110 hidden-480"></i>
                            创建人
                        </th>
                        <th data-orderable="false" data-searchable="false" class="center">操作</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section footer{
    <script src="http://cdn.bootcss.com/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Ace/assets/js/jquery.dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $.extend($.fn.dataTable.defaults, {
                "processing": true,//加载中
                "serverSide": true,//服务器模式（★★★★★重要，本文主要介绍服务器模式）
                "searching": false,//datatables自带的搜索
                //"pagingType": "full_numbers",//分页模式
                "ajax": {
                    "type": "POST",//（★★★★★重要）
                    "contentType": "application/json; charset=utf-8"
                },
                "language": {
                    "processing": "加载中...",
                    "lengthMenu": "每页显示 _MENU_ 条数据",
                    "zeroRecords": "没有匹配结果",
                    "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "infoFiltered": "(由 _MAX_ 项结果过滤)",
                    "infoPostFix": "",
                    "search": "搜索:",
                    "url": "",
                    "emptyTable": "没有匹配结果",
                    "loadingRecords": "载入中...",
                    "thousands": ",",
                    "paginate": {
                        "first": "首页",
                        "previous": "上一页",
                        "next": "下一页",
                        "last": "末页"
                    },
                    "aria": {
                        "sortAscending": ": 以升序排列此列",
                        "sortDescending": ": 以降序排列此列"
                    }
                }
            });

            var roleTable = $('#role-table').DataTable({
                "ajax": {
                    "url": "@Url.Action("GetPagingData")",
                    "data": function (data) {
                        data.Name = $("#name").val();//此处是添加额外的请求参数
                        return JSON.stringify(data);
                    }
                },
                "columnDefs": [{
                    "targets": 0,
                    render: function (data, type, full, meta) {
                        return '<div class="center"><lable><input type="checkbox" class="ace" /><span class="lbl"></span></label></div>';
                    }
                },
                {
                    "targets": -1,
                    render: function (data, type, full, meta) {
                        return '<a class="btn btn-sm btn-info" href="javascript:;">查看<i class="fa fa-cogs"></i></a> ' +
                               '<a class="btn btn-sm btn-warning" href="javascript:;">编辑<i class="fa fa-cogs"></i></a> ' +
                               '<a class="btn btn-sm btn-danger" href="javascript:;">删除<i class="fa fa-cogs"></i></a> ' +
                               '<a class="btn btn-sm btn-success" href="javascript:;">授权<i class="fa fa-cogs"></i></a>';
                    }
                },
                {
                    "targets": 3,
                    render: function (data, type, full, meta) {
                        if (data === true) {
                            return '<span class="label label-sm label-success">是</span>';
                        } else {
                            return '<span class="label label-sm label-danger">否</span>';
                        }
                    }
                }],
                "order": [[4, "desc"]],
                autoFill: true
            });

            $('#name').keypress(function (e) {
                if (e.which == 13) {
                    roleTable.ajax.reload();
                }
            });

            $("#search").click(function () {
                roleTable.ajax.reload();
            });

            $('table th input:checkbox').on('click', function () {
                var that = this;
                $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });
            });

        })
    </script>

}
