@{
    ViewBag.Title = "Index";
}

@section header{
    <link href="http://cdn.bootcss.com/datatables/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/CustomCss/Role/index.css" rel="stylesheet" />
}

<div class="page-header">
    <h1>
        角色清单
        <small>
            <i class="icon-double-angle-right"></i>
            一览
        </small>
    </h1>
</div>

<div class="page-body row">
    <div class="nav navbar-default">
        <div class="navbar-left navbar-btn">
            <button type="button" class="btn btn-primary">添加</button>
            <button type="button" class="btn btn-primary">修改</button>
            <button type="button" class="btn btn-danger">删除</button>
        </div>
        <div class="navbar-right">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索">
                </div>
                <button type="submit" class="btn btn-success">搜索</button>
            </form>
        </div>
    </div>
    <div class="col-md-12">
            <table id="role_table" class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>2011/07/25</td>
                        <td>$170,750</td>
                    </tr>
            </table>
        </div>
</div>

@section footer{
    <script src="http://cdn.bootcss.com/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="http://cdn.bootcss.com/datatables/1.10.15/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(function () {
            $.extend($.fn.dataTable.defaults, {
                searching: false
            });

            $('#role_table').dataTable({
                "language": {
                    "url": "/CustomCss/chinese.json"
                },
                "lengthMenu": [10, 25, 50, 100]
            });
        });
    </script>

}
